export(gmm_outliers)
S3method(plot, gmm_outliers)
importFrom(mvtnorm, dmvnorm, rmvnorm)
importFrom(matrixStats, logSumExp)
importFrom(stats, cov, kmeans, rnorm, runif, prcomp)
importFrom(graphics, points, legend, plot)
importFrom(utils, tail)
importFrom(grDevices, dev.off, pdf, rainbow)
importFrom(graphics, abline, barplot, boxplot, hist, layout, lines, par, text, title)
importFrom(stats, na.omit, qchisq, qqline, qqnorm, sd, shapiro.test)

export(compare_models)
export(plot.gmm_comparison)
export(print.gmm_comparison)
export(plot_diagnostics)
export(calculate_metrics)
export(print.gmm_metrics)
export(summary.gmm_metrics)
